@import 'tailwindcss';

@theme {
  --font-sans: 'Nunito', sans-serif;

  --color-red-lighter: #fbe1e2;
  --color-red-light: #f75f64;
  --color-red-primary: #f15156;
  --color-red-dark: #e44449;
  --color-blue-primary: #0d3b66;
  --color-yellow-primary: #f4d35e;
}
